
@{
    ViewBag.Title = "Index";
}

<h2>Transaction Details</h2>

<div id="Box" class="margin-bottom-30">
    <p></p>
    @*<div class="alert alert-success">
        <strong>Success!</strong>
    </div>*@
    <div class="col-md-12">
        <div>
            <b>
                Thank you for using paypal.
                <br />
                For futher reference keep your below transaction id safe
                <br />
                <strong>Transaction Id: '@ViewBag.TransactionId'</strong>
            </b>
        </div>
    </div>
    <br />
</div>
<div class="col-md-12 padding-top-40 margin-bottom-30">
    <input type="button" value="Click here to go to Home" class="btn btn-primary" onclick="redirectToHome()" />
</div>

<script type="text/javascript">
    function redirectToHome() {
        window.location.href = '@Url.Action("Index","Home")';
    }
</script>