
@{
    ViewBag.Title = "Payment checkout";
}

<h2>Payment Checkout</h2>

<div id="paypal-button-container"></div>
// Note: Paypal recommends to use the hosted file. Not downloand and use
<script src="~/Scripts/PayPal/checkout.js"></script>
<script>
// Render the PayPal button
paypal.Button.render({
// Set your environment
env: 'sandbox', // sandbox | production

// Specify the style of the button
style: {
  layout: 'vertical',  // horizontal | vertical
  size:   'medium',    // medium | large | responsive
  shape:  'rect',      // pill | rect
  color:  'gold'       // gold | blue | silver | white | black
},

// Specify allowed and disallowed funding sources
//
// Options:
// - paypal.FUNDING.CARD
// - paypal.FUNDING.CREDIT
// - paypal.FUNDING.ELV
funding: {
  allowed: [
    paypal.FUNDING.CARD,
    paypal.FUNDING.CREDIT
  ],
  disallowed: []
},

client: {
    sandbox: '@ViewBag.ClientId'
},

payment: function (data, actions) {
  return actions.payment.create({
    payment: {
      transactions: [
        {
          amount: {
            total: '@ViewBag.Amount',
            currency: 'USD'
          }
        }
      ]
    }
  });
},

onAuthorize: function (data, actions) {
  return actions.payment.execute()
      .then(function (status) {
          debugger;
          window.alert('Payment Complete!');
          // Redirect to transaction success page.
          window.location.href = '@Url.Action("Index", "TranactionSuccess")?transactionId=' + status.id;
    });
}
}, '#paypal-button-container');
</script>