
@{
    ViewBag.Title = "Index";
}

<h2>PayPal Server Pay</h2>

@Html.ActionLink("Pay Direct With Credit Card","PaymentWithCreditCard","PaypalServer")
@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "PaypalServer")