@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <span>For any questions contact </span><a href="https://www.linkedin.com/in/garivinareshreddy" target="_blank"> here</a>
</div>